@import "../palette";

// Background colors
$primary-background-color: $shadow;
$primary-paper-color: $midnight;
// Font colors
$primary-font-color: $faded-white;
$secondary-font-color: $soft-white;
// Sidebar
$sidebar-background: $midnight;
$sidebar-font-color: $faded-white;
$sidebar-option-background: $invisible;
$sidebar-option-shadow: $invisible;
// Skeletons
$skeleton-color: $transparent-gray
