@import "../palette";

// Background colors
$primary-background-color: $pink-cream;
$primary-paper-color: $pink;
// Font colors
$primary-font-color: $charcoal;
$secondary-font-color: $midnight;
// Sidebar
$sidebar-background: $pink;
$sidebar-font-color: $charcoal;
$sidebar-option-background: $invisible;
$sidebar-option-shadow: $invisible;
// Footer
$footer-background: $invisible;
// Skeletons
$skeleton-color: $transparent-gray
